<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>760527293126-v08lk1kp4a627tag5ephk2j46aaafmqg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.760527293126-v08lk1kp4a627tag5ephk2j46aaafmqg</string>
	<key>API_KEY</key>
	<string>AIzaSyDVC0vxDgo0NApQYxrtf9RbXhDuqEk7fMA</string>
	<key>GCM_SENDER_ID</key>
	<string>760527293126</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.iesb.16031088056.GBens</string>
	<key>PROJECT_ID</key>
	<string>gbem-b2c8c</string>
	<key>STORAGE_BUCKET</key>
	<string>gbem-b2c8c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:760527293126:ios:a1ac7d56f2d48665</string>
	<key>DATABASE_URL</key>
	<string>https://gbem-b2c8c.firebaseio.com</string>
</dict>
</plist>